@import "tailwindcss";


@theme {
--color-primary : #04045b;
--color-secondary : #c7da33;
--color-gray : #4d4c4c;

 --animate-scroll: scroll 50s linear infinite;

  @keyframes scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

